Source: byte-php56-memcached
Section: web
Priority: optional
Maintainer: Byte Internet (support@byte.nl)
Build-Depends: debhelper (>= 7), byte-php56-dev, pkg-config, libmemcached10, libmemcached-dev

Package: byte-php56-memcached
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: php5
Description: Byte PHP Memcached
